*{
    background-color: #180225;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke
}

header{
    display: flex;
    padding: 30px;
    background-color: aquamarine;
    justify-content: center;
}

body{
    margin: 0%;
}

.login{
    font-size: 80px;
}