*{
    @import url(https://db.onlinewebfonts.com/c/a1064a651347180bcb010c3673903bff?family=D); 
    background-color: #a478b6;
}
header{
    display: flexbox;
    padding: 30px;
    background-color: aquamarine;
    
    
}

h1{
    
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}