*{
    background-color: rgb(205, 211, 235);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(5, 25, 80);
}

header{
    display: flex;
    padding: 30px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.header-esq{
    background-color: aquamarine;
    font-size: 30px;
}

.header-dir{
    background-color: aquamarine;
    font-size: 20px;
}

body{
    margin: 0%;
}

input{
    display: flex;
    background-color: whitesmoke;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding-top: 15%;
}

a{
    background-color: aquamarine;
}